In [13]:
import urllib.request
import numpy as np
import pandas as pd
import seaborn as sns
import re
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout, Flatten, Embedding, Conv2D, MaxPooling2D
from tensorflow.keras.callbacks import ModelCheckpoint, EarlyStopping
from tensorflow.keras.utils import to_categorical
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences 

import matplotlib.pyplot as plt

In [4]:
  
urllib.request.urlretrieve("https://raw.githubusercontent.com/e9t/nsmc/master/ratings_train.txt",
                           filename="./data/ratings_train.txt")
urllib.request.urlretrieve("https://raw.githubusercontent.com/e9t/nsmc/master/ratings_test.txt",
                           filename="./data/ratings_test.txt")

('./data/ratings_test.txt', <http.client.HTTPMessage at 0x1eee2896e50>)

In [5]:
train_data = pd.read_table('./data/ratings_train.txt')
test_data = pd.read_table('./data/ratings_test.txt')

In [6]:
train_data.head()

         id                                           document  label
0   9976970                                아 더빙.. 진짜 짜증나네요 목소리      0
1   3819312                  흠...포스터보고 초딩영화줄....오버연기조차 가볍지 않구나      1
2  10265843                                  너무재밓었다그래서보는것을추천한다      0
3   9045019                      교도소 이야기구먼 ..솔직히 재미는 없다..평점 조정      0
4   6483659  사이몬페그의 익살스런 연기가 돋보였던 영화!스파이더맨에서 늙어보이기만 했던 커스틴 ...      1

In [15]:
sample_text = '!ancd464#$%. and dtaa'
re.sub(r'[^a-zA-Z]', '', sample_text)


sample_hangul = ' 나나가나ㅏ@^라라랄'
re.sub(r'[^ㄱ-ㅎㅏ-ㅣ가-힣]','', sample_hangul)

'나나가나ㅏ라라랄'

In [22]:
# 결측치 확인
print(train_data.isnull().sum(), '\n')

# 중복 데이터 확인
duplicates = train_data.duplicated()
print(train_data[duplicates])

id          0
document    5
label       0
dtype: int64

Empty DataFrame
Columns: [id, document, label]
Index: []

In [27]:
# 한글을 제외한 문자를 '' 로 변경
train_data['document'] = train_data['document'].str.replace(r'[^ㄱ-ㅎㅏ-ㅣ가-힣 " "]', 
                                                          '', regex=True)
# '' 를 np.nan  으로 변경 -> nan 을 제거
train_data['document'].replace('', np.nan, inplace=True)
train_data.dropna(inplace=True)

print(len(train_data))
# 결측치 확인
print(train_data.isnull().sum(), '\n')

149190
id          0
document    0
label       0
dtype: int64