In [1]:
import pandas as pd
import numpy as np

In [8]:
dict_data = {'a': 1, 'b': 2, 'c': 3}

print(dict_data)
print(type(dict_data))
print(len(dict_data))

sr = pd.Series(dict_data)
print(sr)
print('type sr = ', type(sr))

{'a': 1, 'b': 2, 'c': 3}
<class 'dict'>
3
a    1
b    2
c    3
dtype: int64
type sr =  <class 'pandas.core.series.Series'>

In [19]:
## pd.Serise
print('Key = \n', dict_data.keys())
print('values = \n', dict_data.values())
print('items = \n', dict_data.items())

print()
sr
print(sr.index)
print(sr.values)

Key =
 dict_keys(['a', 'b', 'c'])
values =
 dict_values([1, 2, 3])
items =
 dict_items([('a', 1), ('b', 2), ('c', 3)])

Index(['a', 'b', 'c'], dtype='object')
[1 2 3]

In [3]:
dict_data = {1: 'apple', 2: 'banana', 3: 'grape'}
sr_fruit = pd.Series(dict_data)
print(sr_fruit.index)
print(sr_fruit.values)

## From list
sr_list = pd.Series(['apple', 'banana', 'grape'],
                    index= [1, 2, 3])
print(sr_list)

Index([1, 2, 3], dtype='int64')
['apple' 'banana' 'grape']
1     apple
2    banana
3     grape
dtype: object

In [4]:
# print(sr.list)
# print(sr.list.index[0:2])

NameError: name 'sr' is not defined

In [10]:
sr_form_list = pd.Series(['2019-01-02', 3.14, 'ABC', 100, True],
                         index= range(1, 6))

print(sr_form_list)

sr_form_list[1]
print(sr_form_list.loc[1:3])
print(sr_form_list.iloc[1:3])   # i : 넘파이의 규칙을 따름

1    2019-01-02
2          3.14
3           ABC
4           100
5          True
dtype: object
1    2019-01-02
2          3.14
3           ABC
dtype: object
2    3.14
3     ABC
dtype: object

In [13]:
print(sr_form_list.index)
print(list(sr_form_list.index))

RangeIndex(start=1, stop=6, step=1)
[1, 2, 3, 4, 5]

In [28]:
tup_data = ('영인', '2010-05-05', '여', True)

sr_form_tup = pd.Series(tup_data,
                        ['이름', '생년월일', '성별', '학생여부'])

print(sr_form_tup)
sr_form_tup['이름']
print()
print(sr_form_tup.loc['이름':'성별'])
sr_form_tup.iloc[:2]
print(sr_form_tup[['이름', '학생여부']])

이름              영인
생년월일    2010-05-05
성별               여
학생여부          True
dtype: object

이름              영인
생년월일    2010-05-05
성별               여
dtype: object
이름        영인
학생여부    True
dtype: object

In [48]:
data = ('apple', 'tomato', 'banana', 'melon', 'grape', 'pear')
sr_form_tup = pd.Series(data,
                        ['A', 'B', 'C', 'D', 'E', 'F'])

print(sr_form_tup)
print()

print(sr_form_tup.loc[['B', 'E']])
print(sr_form_tup.iloc[[1, 4]])
print()

print(sr_form_tup.loc['B':'E'])
print(sr_form_tup.iloc[1:5])

A     apple
B    tomato
C    banana
D     melon
E     grape
F      pear
dtype: object

B    tomato
E     grape
dtype: object
B    tomato
E     grape
dtype: object

B    tomato
C    banana
D     melon
E     grape
dtype: object
B    tomato
C    banana
D     melon
E     grape
dtype: object

In [51]:
fruit = ['apple', 'tomato', 'banana', 'melon', 'grape', 'pear']

sr_fruit = pd.Series(fruit,
                     index= list('ABCDEF')) 
print(sr_fruit)
print()

## Indexing, iloc, loc
print(sr_fruit.loc[['C', 'E']])
print(sr_fruit.iloc[[2, 4]])
print()

print(sr_fruit.loc['B':'E'])
print(sr_fruit.iloc[1:5])

A     apple
B    tomato
C    banana
D     melon
E     grape
F      pear
dtype: object

C    banana
E     grape
dtype: object
C    banana
E     grape
dtype: object

B    tomato
C    banana
D     melon
E     grape
dtype: object
B    tomato
C    banana
D     melon
E     grape
dtype: object

In [57]:
sr1 = pd.Series(range(4, 8),
                     index= list('abcd'),
                     dtype= np.int16,
                     name= 'variable') 
print(sr1)

dict_type = {
    'Kim': [10, 20],
    'Park': 20,
    'Hong': 30    
}

sr2 = pd.Series(dict_type)
print(sr2)

a    4
b    5
c    6
d    7
Name: variable, dtype: int16
Kim     [10, 20]
Park          20
Hong          30
dtype: object

In [62]:
## DataFrame

dict_data = {
    'c0': [1,2,3], 'c1': [4,5,6], 'c2': [7,8,9],
    'c3': [10,11,12], 'c4': [14,15,16]
}

print(dict_data)

df = pd.DataFrame(dict_data,
                  index= range(1,4))
print(df)

{'c0': [1, 2, 3], 'c1': [4, 5, 6], 'c2': [7, 8, 9], 'c3': [10, 11, 12], 'c4': [14, 15, 16]}
   c0  c1  c2  c3  c4
1   1   4   7  10  14
2   2   5   8  11  15
3   3   6   9  12  16

In [66]:
## DataFrame

dict_data = {
    '수학': [90,80,70], 
    '영어': [98,89,95], 
    '성별': ['남','남','여'],
    '합격': [True,False,True]
}

# print(dict_data)

df = pd.DataFrame(dict_data,
                  ['김씨','이씨','박씨'])
print(df)

    수학  영어 성별     합격
김씨  90  98  남   True
이씨  80  89  남  False
박씨  70  95  여   True

In [71]:
dp_from_list =pd.DataFrame(
    [[90,98,'남',True],
     [80,89,'남',False],
     [70,95,'여',True]],
    columns=['수학','영어','성별','합격'],
    index=['김씨','이씨','박씨']
)

print(dp_from_list)

    수학  영어 성별     합격
김씨  90  98  남   True
이씨  80  89  남  False
박씨  70  95  여   True

In [73]:
dp_from_list =pd.DataFrame(
    [[15,'남','덕영중'],
     [17,'여','수리중']],
    columns=['나이','성별','학교'],
    index=['준서','예은']
)

print(dp_from_list)

    나이 성별   학교
준서  15  남  덕영중
예은  17  여  수리중

In [83]:
df = pd.DataFrame(
    [['green', 'M', 13.5, 'class1'],
     ['red', 'L', 15.3, 'class2']]
)

df.columns = ['color', 'size', 'price', 'class']
df.index = range(1, 3)
print(df)

   color size  price   class
1  green    M   13.5  class1
2    red    L   15.3  class2

In [92]:
## DataFrame 수정

df = pd.DataFrame(
    [[15,'남','영우중'],
     [17, '여', '에티중']],
     columns= ['나이', '성별', '학교'],
     index= ['준서', '은별']
)

print(df)
print()
df.rename(columns= {'나이':'연령', "성별":"남녀", '학교':'소속'},
          inplace= True)
df.rename(index= {'준서':'학생1', '은별':'학생2'}, inplace= True)
print(df)

    나이 성별   학교
준서  15  남  영우중
은별  17  여  에티중

     연령 남녀   소속
학생1  15  남  영우중
학생2  17  여  에티중

In [96]:
## DataFrame 수정

df = pd.DataFrame(
    [[15,'남','영우중'],
     [17, '여', '에티중']]
)
df.columns= ['나이', '성별', '학교']
df.index= ['준서', '은별']


print(df)
print()
df.rename(columns= {'나이':'연령', "성별":"남녀", '학교':'소속'},
          inplace= True)
df.rename(index= {'준서':'학생1', '은별':'학생2'}, inplace= True)
print(df)

    나이 성별   학교
준서  15  남  영우중
은별  17  여  에티중

     연령 남녀   소속
학생1  15  남  영우중
학생2  17  여  에티중

In [146]:
exam_data = {
    '수학': [90,80,70], 
    '영어': [98,89,95], 
    '음악': [85,95,100],
    '체육': [100,90,95]
}

df = pd.DataFrame(exam_data,
                  index= ['서준', '우현', '인아'])

print(df)
print(df.loc['서준'])
df['수학']

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   95
수학     90
영어     98
음악     85
체육    100
Name: 서준, dtype: int64

서준    90
우현    80
인아    70
Name: 수학, dtype: int64

In [124]:
df1 = df            # 이건 안됨
df2 = df.copy()     # 원본을 카피한다

print(df.drop(['서준', '우현'], axis= 0))   # 기본값 asix = 0
print(df.drop(['수학'], axis= 1, inplace=True))


print(df)
print(df1)
print(df2)

    수학  영어   음악  체육
인아  70  95  100  95
None
    영어   음악   체육
서준  98   85  100
우현  89   95   90
인아  95  100   95
    영어   음악   체육
서준  98   85  100
우현  89   95   90
인아  95  100   95
    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   95

In [139]:
df_rename = pd.DataFrame({
    'A': [1,2,1,2],
    'B': '2010-07-20',
    'C': 1.0,
    'D': ['test', 'train', 'test', 'train'],
    'E': 'foo'
})

print(df_rename)

df_rename.drop(3, axis=0, inplace= True)
df_rename.rename(columns={'A': 'Type', 'B': 'Data'}, inplace= True)
df_rename.rename(index= {0:'A', 1:'B'}, inplace= True)
print(df_rename)

   A           B    C      D    E
0  1  2010-07-20  1.0   test  foo
1  2  2010-07-20  1.0  train  foo
2  1  2010-07-20  1.0   test  foo
3  2  2010-07-20  1.0  train  foo
   Type        Data    C      D    E
A     1  2010-07-20  1.0   test  foo
B     2  2010-07-20  1.0  train  foo
2     1  2010-07-20  1.0   test  foo

In [ ]:
exam_data = {
    '수학': [90,80,70], 
    '영어': [98,89,95], 
    '음악': [85,95,100],
    '체육': [100,90,95]
}

df = pd.DataFrame(exam_data,
                  index= ['서준', '우현', '인아'])

print(df)

In [153]:
print(df.loc['서준':'우현','수학':'음악'])
print(df.iloc[0:2,1:])

    수학  영어  음악
서준  90  98  85
우현  80  89  95
    영어  음악   체육
서준  98  85  100
우현  89  95   90

In [156]:
print(df)

print(df.set_index('수학'))

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   95
    영어   음악   체육
수학
90  98   85  100
80  89   95   90
70  95  100   95

In [159]:
df_loc = pd.DataFrame([["고기", 4, "사자", "yes", "no"],
                      ["풀", 4, "사슴", "yes", "no"],
                      ["고기", 4, "늑대", "yes", "no"],
                      ["고기", 2, "독수리", "yes", "yes"],
                      ["잡식", 2, "곰", "no", "yes"]],
                     columns =  ["주식", "다리갯수", "이름", "무리생활", "비행"])

print(df_loc)

   주식  다리갯수   이름 무리생활   비행
0  고기     4   사자  yes   no
1   풀     4   사슴  yes   no
2  고기     4   늑대  yes   no
3  고기     2  독수리  yes  yes
4  잡식     2    곰   no  yes

In [172]:
print(df_loc.loc[0:3, :])   # : 적어둘것
print()
print(df_loc.loc[:,['주식','이름','비행']])
print()
print(df_loc.loc[[0,2,3],['주식','이름','무리생활']])

   주식  다리갯수   이름 무리생활   비행
0  고기     4   사자  yes   no
1   풀     4   사슴  yes   no
2  고기     4   늑대  yes   no
3  고기     2  독수리  yes  yes

   주식   이름   비행
0  고기   사자   no
1   풀   사슴   no
2  고기   늑대   no
3  고기  독수리  yes
4  잡식    곰  yes

   주식   이름 무리생활
0  고기   사자  yes
2  고기   늑대  yes
3  고기  독수리  yes

In [182]:
## Insert, delete

exam_data = {'이름' : [ '서준', '우현', '인아'],
             '수학' : [ 90, 80, 70],
             '영어' : [ 98, 89, 95],
             '음악' : [ 85, 95, 100],
             '체육' : [ 100, 90, 90]
             }

df = pd.DataFrame(exam_data)
print(df)

df['국어'] = [62, 77, 59]
df['물리'] = 100

df.loc[3] = ['흥민', 95, 70, 90, 100, 80, 100]

print(df)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90
   이름  수학  영어   음악   체육  국어   물리
0  서준  90  98   85  100  62  100
1  우현  80  89   95   90  77  100
2  인아  70  95  100   90  59  100
3  흥민  95  70   90  100  80  100

In [196]:
exam_data = {'이름' : [ '서준', '우현', '인아'],
             '수학' : [ 90, 80, 70],
             '영어' : [ 98, 89, 95],
             '음악' : [ 85, 95, 100],
             '체육' : [ 100, 90, 90]
             }

df = pd.DataFrame(exam_data)
print(df)
print()

df.set_index('이름', append= True ,inplace= True) # append = True : 기존 값을 보존
print(df)
print()

df.loc['서준', '체육'] = 50         # 데이터 하나 변경
print(df)
print()

df.iloc[1, 1] = 70
print(df)
print()

df.loc['서준', ['음악','체육']] = 100, 70         # 데이터 다수 변경
print(df)
print(df.T)
print()

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90

      수학  영어   음악   체육
  이름
0 서준  90  98   85  100
1 우현  80  89   95   90
2 인아  70  95  100   90

         수학    영어     음악     체육
   이름
0  서준  90.0  98.0   85.0  100.0
1  우현  80.0  89.0   95.0   90.0
2  인아  70.0  95.0  100.0   90.0
서준      NaN   NaN    NaN   50.0

         수학    영어     음악     체육
   이름
0  서준  90.0  98.0   85.0  100.0
1  우현  80.0  70.0   95.0   90.0
2  인아  70.0  95.0  100.0   90.0
서준      NaN   NaN    NaN   50.0

         수학    영어     음악     체육
   이름
0  서준  90.0  98.0   85.0  100.0
1  우현  80.0  70.0   95.0   90.0
2  인아  70.0  95.0  100.0   90.0
서준      NaN   NaN  100.0   70.0
        0     1      2     서준
이름     서준    우현     인아
수학   90.0  80.0   70.0    NaN
영어   98.0  70.0   95.0    NaN
음악   85.0  95.0  100.0  100.0
체육  100.0  90.0   90.0   70.0

In [211]:

dict_data = {
    'c0': [1,2,3], 'c1': [4,5,6], 'c2': [7,8,9],
    'c3': [10,11,12], 'c4': [14,15,16]
}

print(dict_data)

df = pd.DataFrame(dict_data,
                  index= ['r0','r1','r2'])
print(df)
print()


new_index = ['r0','r1','r2','r3','r4']

df2 = df.reindex(new_index, fill_value=0)
print(df2)
print()

df3 = df.reset_index()
print(df3)
print()

df4 = df.sort_index(ascending=False)
print(df4)
print()

{'c0': [1, 2, 3], 'c1': [4, 5, 6], 'c2': [7, 8, 9], 'c3': [10, 11, 12], 'c4': [14, 15, 16]}
    c0  c1  c2  c3  c4
r0   1   4   7  10  14
r1   2   5   8  11  15
r2   3   6   9  12  16

    c0  c1  c2  c3  c4
r0   1   4   7  10  14
r1   2   5   8  11  15
r2   3   6   9  12  16
r3   0   0   0   0   0
r4   0   0   0   0   0

  index  c0  c1  c2  c3  c4
0    r0   1   4   7  10  14
1    r1   2   5   8  11  15
2    r2   3   6   9  12  16

    c0  c1  c2  c3  c4
r2   3   6   9  12  16
r1   2   5   8  11  15
r0   1   4   7  10  14

In [216]:
print(df)
print()
df5 = df.sort_values(by='c4', ascending=False)
print(df5)

    c0  c1  c2  c3  c4
r0   1   4   7  10  14
r1   2   5   8  11  15
r2   3   6   9  12  16

    c0  c1  c2  c3  c4
r2   3   6   9  12  16
r1   2   5   8  11  15
r0   1   4   7  10  14

In [221]:
## 사칙연산, Broadcasting
student1 = pd.Series({'국어':100,
                      '영어':80,
                     '수학':90})

print(student1)

student1_per = (student1*100)/200   #100을 곱하면 실수형 전환
print(student1_per)

국어    100
영어     80
수학     90
dtype: int64
국어    50.0
영어    40.0
수학    45.0
dtype: float64

In [229]:
student1_pre = pd.Series({'국어':100, '영어':80, '수학':90})
student1_post = pd.Series({'국어':80, '영어':90, '수학':80})

addition = student1_pre + student1_post
subtraction = student1_pre - student1_post
multi = student1_pre * student1_post
division = student1_pre / student1_post

result = pd.DataFrame([addition, subtraction, multi, division],
                      index= ['덧셈', '뺄셈', '곱셈', '나누셈'])

print(result)
print(result.round(2))  # 소수점 자리 제한

          국어           영어        수학
덧셈    180.00   170.000000   170.000
뺄셈     20.00   -10.000000    10.000
곱셈   8000.00  7200.000000  7200.000
나누셈     1.25     0.888889     1.125
          국어       영어       수학
덧셈    180.00   170.00   170.00
뺄셈     20.00   -10.00    10.00
곱셈   8000.00  7200.00  7200.00
나누셈     1.25     0.89     1.12

In [233]:
# ! pip install seaborn

Requirement already satisfied: seaborn in c:\users\jaemi\anaconda3\envs\pandas_jm\lib\site-packages (0.12.2)
Requirement already satisfied: numpy!=1.24.0,>=1.17 in c:\users\jaemi\anaconda3\envs\pandas_jm\lib\site-packages (from seaborn) (1.24.3)
Requirement already satisfied: pandas>=0.25 in c:\users\jaemi\anaconda3\envs\pandas_jm\lib\site-packages (from seaborn) (2.0.1)
Requirement already satisfied: matplotlib!=3.6.1,>=3.1 in c:\users\jaemi\anaconda3\envs\pandas_jm\lib\site-packages (from seaborn) (3.7.1)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\jaemi\anaconda3\envs\pandas_jm\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.0.7)
Requirement already satisfied: cycler>=0.10 in c:\users\jaemi\anaconda3\envs\pandas_jm\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\jaemi\anaconda3\envs\pandas_jm\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (4.39.3)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\jaemi\anaconda3\envs\pandas_jm\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\jaemi\anaconda3\envs\pandas_jm\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (23.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\jaemi\anaconda3\envs\pandas_jm\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (9.5.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\jaemi\anaconda3\envs\pandas_jm\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\jaemi\appdata\roaming\python\python311\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\jaemi\anaconda3\envs\pandas_jm\lib\site-packages (from pandas>=0.25->seaborn) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in c:\users\jaemi\anaconda3\envs\pandas_jm\lib\site-packages (from pandas>=0.25->seaborn) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\jaemi\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.1->seaborn) (1.16.0)

In [2]:
import seaborn as sns

In [3]:
titanic = sns.load_dataset('titanic')
print(type(titanic))

print(titanic.head())
print()
print(titanic.shape)

<class 'pandas.core.frame.DataFrame'>
   survived  pclass     sex   age  sibsp  parch     fare embarked  class
0         0       3    male  22.0      1      0   7.2500        S  Third  \
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True

(891, 15)

In [4]:
titanic = sns.load_dataset('titanic')
df = titanic.loc[0:4, ['survived', 'age', 'fare']]
df['won'] = df['fare'] * 1000

print(df)

   survived   age     fare      won
0         0  22.0   7.2500   7250.0
1         1  38.0  71.2833  71283.3
2         1  26.0   7.9250   7925.0
3         1  35.0  53.1000  53100.0
4         0  35.0   8.0500   8050.0